.gallery {
    display:flex;
    max-width:1128px;
    flex-wrap: wrap;
    flex-direction: row;
    row-gap: 24px;
    gap: 24px;
    list-style: none;
}

.gallery-image {
    width: 360px;
    height: 200px;
}